<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>
<div class="container">
    <a type="button" class="btn btn-outline-secondary" href="/ticket">Мои заявки</a>
    <h3>Информация о заявке:</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание проблемы</th>
            <th scope="col">Дата создания</th>
            <th scope="col">В работе у:</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${ticketInfo.id}"></td>
            <td th:text="${ticketInfo.title}"></td>
            <td th:text="${ticketInfo.description}"></td>
            <td th:text="${#temporals.format(ticketInfo.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>
            <td th:if="${ticketInfo.support != null}" th:text="${ticketInfo.support.login}"></td>
            <td th:if="${ticketInfo.support == null}">Не назначен</td>
            <td th:text="${ticketInfo.displayStatus}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Сообщение</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.message}"></td>
            <td th:text="${message.user.login}"></td>
            <td th:text="${#temporals.format(message.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>

        </tr>
        </tbody>
    </table>
    <form class="col card p-3 my-5" th:method="post" th:action="@{/ticket/{id}(id = ${ticketInfo.id})}">
        <div class="form-group">
            <label for="message">Отправить новое сообщение</label>
            <input class="form-control" id="message" maxlength="100" placeholder="Введите сообщение" required autocomplete="off"
                   th:field="*{comment.message}"
                   type="text"/>
        </div>
        <br>
        <div>
            <input class="btn btn-primary" type="submit" value="Отправить">

        </div>
    </form>
</div>
</body>
</html>